@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post" enctype="multipart/form-data">
<div class="row">
    <div class="col-md-6">
        
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Fname" class="form-control" placeholder="Please choose your First Name." />
                <label asp-for="Input.Fname" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Lname" class="form-control" placeholder="Please choose your Last Name." />
                <label asp-for="Input.Lname" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
    </div>
        <div class="col-md-6">
            <div class="form form-group">
                <label asp-for="Input.ProfilePic" class="w-100"></label>
                @if(Model.Input.ProfilePic != null)
                {
                    <img id="profilePicture" class="profile-picture" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePic))">
                }
                else
                {
                    <img id="profilePicture" alt="profile" src="~/images/847-8474751_download-empty-profile.jpg" class="profile-picture">
                }
                <div class="Custom-file mt-2">

                    <input type="file" accept="image/*" asp-for="Input.ProfilePic" class="custom-file-input"
                           onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />

                    <label class="custom custom-file-label" asp-for="Input.ProfilePic">Choose Your Profile Picture</label>
                    <span asp-validation-for="Input.ProfilePic" class="text-danger"></span>
                </div>
            </div>
        </div>
</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
