

@{
	ViewData["Tile"] = "ShowRoles";
}


<h1>Users List</h1>
<form method="post" asp-action="Showroles" class="form form-control">

	<select name="userid" asp-items="ViewBag.users" class="form-check form-control"></select>
	<input type="submit" value="Add" class="btn btn-outline-primary" />
</form>

<h1>Show Roles</h1>

<form class="form form-control" method="post" asp-action="ChangeRoles">
	<input type="hidden" value="@ViewBag.userid" name="userid"/>
	<label>Roles In</label>
	<select multiple name="rolesToRemoveFrom" asp-items="ViewBag.rolesIn"class="form-check form-control"></select><br />

	<label>Roles Not In</label>

	<select multiple name="rolesToAdd" asp-items="ViewBag.rolesNotIn" class="form-check form-control"></select><br />

	<input type="submit" value="Change Roles" />
</form>